@page "/notes"


@attribute [StreamRendering]
@* @inject INoteService NoteService; *@
@inject ISender Sender;

<h3>Notes</h3>
<a href="/note-editor" class="btn btn-primary">Crear nota</a>
@if(notes.Count == 0){
    <p>Cargando notas...</p>
}else{
    @foreach(var note in notes){
        <h4>@note.Title</h4>
        <p>@note.Content</p>
        <small>@note.CreatedAt</small>
        <a href="/note-editor/@note.Id">Editar nota</a>
    }
}

@code {
    private List<NoteResponse> notes = new List<NoteResponse>();
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        var result = await Sender.Send(new GetNotesQuery());
        if(result is not null)
        {
            notes = result.ToList();
        }
    }
}
