@page "/note-editor"
@inject ISender sender

<PageTitle>Crear nota</PageTitle>
<h3>Crear nota</h3>

<!-- Formulario de edición para crear una nueva nota -->
<!-- EditForm maneja el envío del formulario y valida el modelo -->
<!-- Model="Note" vincula el formulario al modelo Note -->
<!-- OnSubmit="HandleSubmit" especifica el método a llamar al enviar -->
<!-- FormName="NoteEditorForm" asigna un nombre único al formulario -->
<EditForm Model="Note" OnSubmit="HandleSubmit" FormName="NoteEditorForm">
    <!-- Campo de entrada de texto para el título de la nota -->
    <!-- @bind-Value="Note.Title" vincula el valor del input al título del modelo -->
    <InputText @bind-Value="Note.Title" placeholder="Título" class="form-control mb-2"/>
    <InputTextArea @bind-Value="Note.Content" placeholder="Contenido" class="form-control mb-2" rows="5"/>
    <label>Fecha de publicación:</label>
    <InputDate @bind-Value="Note.PublishedAt" class="form-control mb-2"/>
    <label class="form-check-lable mb-2">Publicado:</label>
    <InputCheckbox @bind-Value="Note.IsPublished" class="form-check-input mb2"/>
    <button type="submit">Crear</button>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private NoteModel Note { get; set; } = new NoteModel();

    /// <summary>
    /// Método que se ejecuta cuando se envía el formulario.
    /// Convierte el modelo Note a un comando CreateNoteCommand usando Mapster,
    /// envía el comando a través del mediador ISender,
    /// y actualiza el modelo con el resultado.
    /// </summary>
    private async Task HandleSubmit()
    {
        // Adaptar el modelo Note a un comando CreateNoteCommand
        var command = Note.Adapt<CreateNoteCommand>();
        var result = await sender.Send(command);
        Note = result.Adapt<NoteModel>();
            Console.WriteLine("Nota creada correctanmente");
    }
}
